<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Detail - IRWA Search Engine</title>
</head>
<body>
<!-- Option 1: Go back to the search results of the same query -->
<div><a href="{{ url_for('search_form_post', search_query=session['last_search_query']) }}">Back to Search Results</a></div>

<!-- Option 2: Go back to the search page -->
<div><a href="/search">Go Back to Search Page</a></div>

<!-- Option 3: Go to the tweet URL -->
<div><a href="{{ item['url'] }}" target="_blank">Go to Tweet</a></div>

<!-- Additional Links -->
<div><a href="/stats">Stats</a></div>
<div><a href="/dashboard">Dashboard</a></div>
</body>
</html>
